/* About Hero */
.about-hero {
  text-align: center;
  padding: 80px 20px;
  background: var(--soft-blue);
  color: var(--dark-blue);
  box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.3);
}

.about-hero h1 {
  font-size: 2.5rem;
  color: var(--dark-blue);
}

.about-hero .hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 40px;
}

.about-hero p {
  color: var(--deep-blue);
  font-size: 1.1rem;
  margin-left: 150px;
  margin-right: 40px;
}

.about-hero img {
  margin-right: 150px;
  padding: 10px;
  background-color: var(--dark-blue);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.about-hero a:hover {
  color: var(--navy-blue)
}

/* About */
.about {
  background-color: var(--navy-blue);
  color: var(--light-blue);
  padding: 60px 20px;
  max-width: 800px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.about h2 a {
  color: var(--soft-blue);
  transition: color 0.3s ease;
}

.about h2 a:hover {
  color: var(--light-blue);
}

/* Contact */
.contact {
  background-color: var(--soft-blue);
  color: var(--dark-blue);
  padding: 60px 20px;
  text-align: center;
}

.contact h2 {
  color: var(--dark-blue);
  font-size: 2rem;
}

.contact a {
  color: var(--deep-blue)
}

.contact a:hover {
  color: var(--navy-blue)
}

@media (max-width: 900px) {
  .about-hero {
    padding: 60px 15px;
    text-align: center;
  }

  .about-hero .hero-content {
    flex-direction: column;
  }

  .about-hero h1 {
    font-size: 2rem;
  }

  .about-hero img {
    margin: 30px auto 20px;
    width: clamp(200px, 30vw, 300px);
    height: clamp(200px, 30vw, 300px);
    object-fit: cover;
  }

  .about-hero p {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 10px;
  }
}